<!DOCTYPE html>
<html lang="en">
@RenderBody()

<head>
    <meta charset="UTF-8" />
    <title>Contracts Side</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>

<body>
    <header>
        <div class="header">
            <div class="logo">
                <img class="logoimg" src="~/images/Contr.png" alt="">
            </div>
            <div class="menu">
                <img class="menu-opener" src="~/images/menu.png" />
                <nav>
                    <ul>
                        <li class="active"><a href="#banner">Home</a></li>
                        <li><a href="#sobrenos">Sobre Nós</a></li>
                        <li><a href="#contatenos">Contate-nos</a></li>
                        <li><a href="#cadastrese">Cadastre-se</a></li>
                    </ul>
                    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
                    <script type="text/javascript">
                        $(document).on('click', 'ul li', function () {
                            $(this).addClass('active').siblings().removeClass('active')
                        })
                    </script>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="banner" id="banner">
            <div class="sliders" style="margin-left:0;">
                <div class="slide">
                    <div class="slidearea">
                        <h1>Contracts Side<br /><span>Smart Contracts</span></h1>
                        <h2>Solução Inteligente</h2>
                        <a href="#contatenos" class="button">Contate-nos!</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="default light" id="sobrenos">
            <div class="section-title">Sobre Nós</div>
            <div class="section-desc">QUEM NÓS SOMOS?</div>
            <div class="section-body">
                <div class="section-aboutus">
                    <div class="section-aboutus--left">
                        <p>
                            Somos uma empresa de gerenciamento de Smart Contracts, Trabalhamos para ajudar na organizaçao e implantação de seus contratos inteligentes de blockchain BLOCKCHAIN, seja nosso cliente e baixe ja nosso APP para acompanhar e gerir
                            seus Smart Contracts.
                        </p>
                        <br />
                        <a href="" class="button">Baixar APP</a>
                    </div>
                    <div class="section-aboutus--right">
                        <img src="~/images/b848506a-4877-4ec4-86d3-e9e9989c48c7.jpg" />
                    </div>
                </div>
            </div>
        </section>

        <section class="default lightmin" id="contatenos">
            <div class="section-title">CONTATE-NOS</div>
            <div class="section-desc">CONTE PARA NÓS COMO PODEMOS TE AJUDAR</div>
            <div class="section-body">
                <div class="section-contact">
                    <form method="POST">
                        <div class="section-contact--split">
                            <input type="text" name="name" id="name" placeholder="NOME" />
                            <input type="text" name="email" id="email" placeholder="EMAIL" />
                        </div>
                        <input type="text" name="assunto" id="assunto" placeholder="ASSUNTO" />
                        <textarea name="message" id="message" placeholder="MENSSAGEM"></textarea>
                        <input type="submit" value="Enviar" class="button" />
                    </form>
                </div>
            </div>
        </section>

        <section class="default light" id="cadastrese">
            <div class="section-title">Cadastre-se</div>
            <div class="section-desc">SE ESTIVER INTERESSADO EM NOSSOS SERVIÇOS CADASTRE-SE E AGUARDE QUE ENTRAREMOS ENCONTATOPARA MAIORES INFORMAÇÕES</div>
            <div class="section-body">
                <div class="section-contact">
                    <form method="POST">
                        <div class="section-contact--split">
                            <input type="text" name="name" placeholder="NOME" />
                            <input type="text" name="sobrenome" placeholder="SOBRENOME" />
                        </div>
                        <div class="section-contact--split">
                            <input type="text" name="CPF" placeholder="CPF" />
                            <input type="text" name="email" placeholder="EMAIL" />
                        </div>
                        <div class="section-contact--split">
                            <input type="text" name="CNPJ" placeholder="CNPJ" />
                            <input type="text" name="telefone" placeholder="TELEFONE" />
                        </div>
                        <div class="section-contact--split">
                            <input type="text" name="email" placeholder="EMAIL" />
                            <input type="text" name="data de nascimento" placeholder="DATA DE NASCIMENTO" />
                        </div>

                        <input type="submit" value="Cadastra" class="button" />
                    </form>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <div class="footer--area">
            <div class="footer--item area1">
                <div class="footer-social">
                    <a href=""><img src="~/images/twitter.png" /></a>
                    <a href=""><img src="~/images/linkedin.png" /></a>
                    <a href=""><img src="~/images/facebook.png" /></a>

                </div>
            </div>
            <div class="footer--item area2">
                <center id="footer"> © 2020 Orion Soluções em TI </center>
            </div>
            <div class="footer--item area3">

            </div>
        </div>
    </footer>

    <script type="text/javascript" src="~/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
</body>

</html>
